In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import numpy as np

In [2]:
df = pd.read_csv('room.csv')
df

    area  bedrom  age  price
0    129       2   10   2300
1    159       4    5   2500
2    200       3   20   3000
3    131       5   10   2300
4    300       2   15   4000
5    174       2   22   2900
6    332       3   16   2935
7    345       7   16   2879
8    417       5   20   4020
9    366       4   20   3306
10   354      10   17   2617
11   476       7   17   4283
12   462       8   19   3886
13   349       3   19   4223
14   438       9   18   2612
15   493      10   19   3496
16   373       8   15   2785
17   416       4   16   3498
18   305       6   20   3642
19   359       2   20   3407
20   352       7   15   2507

In [3]:
import joblib

In [7]:
joblib.dump(reg, 'model_job')

NameError: name 'reg' is not defined

In [8]:
reg = linear_model.LinearRegression()

In [9]:
from sklearn import linear_model

In [10]:
reg  = linear_model.LinearRegression()

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x =df.drop('price', axis ='columns')

In [13]:
y =df['price']

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [15]:
y_train

17    3498
16    2785
9     3306
12    3886
2     3000
0     2300
20    2507
6     2935
1     2500
8     4020
15    3496
3     2300
18    3642
11    4283
7     2879
Name: price, dtype: int64

In [16]:
x_train,x_text,  y_tarin, y_text = train_test_split(x,y)