In [2]:
import sklearn
import pandas as pd

In [3]:
df = pd.read_csv('sirdata.csv')

In [4]:
df.head(1)

   age  height  weight  premium
0   25  162.56      70  18000.0

In [5]:
#

In [6]:
x = df.drop('premium', axis='columns')

In [7]:
y = df['premium']

In [8]:
# BY DEFAULT 75, 25 FOR TRAINING AND TESTING 
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test= train_test_split(x,y)

In [9]:
x_train

    age  height  weight
17   23  165.00      84
0    25  162.56      70
1    30  172.72      95
6    50  172.00      72
14   28  156.00      89
9    46  155.00      79
10   21  155.00     108
8    46  168.00      64
19   36  155.00      84
13   40  160.00     118
5    55  160.00      68
12   26  165.00     110
16   50  157.00     116
11   31  174.00      60
3    40  167.64     110

In [10]:
x_test

    age  height  weight
4    45  157.48      85
15   44  166.00      92
2    35  167.64      78
18   38  159.00      95
7    21  170.00     117

In [11]:
from sklearn import linear_model

In [12]:
reg = linear_model.LinearRegression()

In [13]:
# model training
reg.fit(x_train, y_train)

LinearRegression()

In [14]:
y_pred = reg.predict(x_test)

In [15]:
y_test

4     70000.0
15    61000.0
2     38000.0
18    59000.0
7     24000.0
Name: premium, dtype: float64

In [16]:
from sklearn.metrics import mean_squared_error, r2_score

In [17]:
mean_squared_error(y_test, y_pred)

37336766.8299154

In [18]:
# Accuracy
r2_score(y_test, y_pred)*100

86.86435166411646

In [19]:
reg.coef_

array([1806.68317427,   85.76453542,  344.27029288])