In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
print(sns.__version__)

0.12.2

In [3]:
a = sns.get_dataset_names()
print(a)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

# ydata_profiling

In [4]:
import pandas as pd
from ydata_profiling import ProfileReport

In [5]:
a = pd.read_csv('ggg.csv')

In [6]:
b =ProfileReport(a,title='Data Profile')

In [7]:
b.to_file('report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [42]:
a.describe()

         English      Hindi      Maths    Science  Social Science
count   4.000000   4.000000   4.000000   4.000000        4.000000
mean   90.000000  76.000000  80.250000  87.250000       84.500000
std     3.559026   5.033223   8.958236   9.945686       10.969655
min    85.000000  71.000000  72.000000  73.000000       75.000000
25%    88.750000  74.000000  76.500000  85.000000       75.000000
50%    91.000000  75.000000  78.000000  90.000000       84.500000
75%    92.250000  77.000000  81.750000  92.250000       94.000000
max    93.000000  83.000000  93.000000  96.000000       94.000000

# SEABORN

In [43]:
import seaborn as sns
import matplotlib.pyplot as plt

In [49]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [50]:
df['size']

0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64

In [51]:
plt.figure(figsize=(4,3))
sns.displot(df['size'])

C:\Users\ses13\AppData\Local\Programs\Python\Python311\Lib\site-packages\seaborn\axisgrid.py:118: UserWarning: The figure layout has changed to tight
  self._figure.tight_layout(*args, **kwargs)

In [52]:
sns.displot(df)

C:\Users\ses13\AppData\Local\Programs\Python\Python311\Lib\site-packages\seaborn\axisgrid.py:118: UserWarning: The figure layout has changed to tight
  self._figure.tight_layout(*args, **kwargs)