In [1]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('pred.csv')
df

    Age  Income Insurance    pred
0    59   46408      Life    Life
1    45   30627    Health    Life
2    48   53542    Health  Health
3    33   62705    Health    Life
4    51   41872    Health  Health
5    26   48912      Life  Health
6    33   36097    Health    Life
7    42   63468      Life    Life
8    28   52373      Life  Health
9    32   29946      Life  Health
10   50   58834      Life  Health
11   42   34907    Health  Health
12   41   27113    Health  Health
13   45   35318    Health  Health
14   31   26554      Life  Health
15   26   68712    Health  Health
16   51   68111    Health  Health
17   49   68367    Health  Health
18   33   54271      Life  Health
19   40   53227    Health  Health
20   41   54734    Health  Health
21   27   45772      Life    Life
22   42   29118    Health  Health
23   39   26495    Health  Health
24   25   64282      Life    Life
25   40   66052    Health  Health
26   31   25534      Life  Health
27   39   36950      Life    Life
28   40   65014      Life    Life
29   58   27700    Health  Health
30   50   27462    Health  Health
31   28   68693      Life  Health
32   36   61818    Health  Health
33   58   47111    Health    Life
34   47   28864    Health  Health
35   37   45202      Life    Life
36   57   41994    Health  Health
37   26   29252      Life  Health
38   34   36098      Life    Life
39   34   30969      Life    Life
40   32   61250      Life  Health
41   48   66954    Health  Health
42   44   36662      Life    Life
43   55   49446    Health  Health
44   56   39934    Health  Health
45   51   25613    Health  Health
46   47   59957    Health  Health
47   46   49326    Health  Health
48   49   25980    Health  Health
49   56   35047    Health  Health
50   43   30050    Health    Life
51   47   60220    Health  Health
52   42   52194    Health  Health
53   38   36759      Life    Life

In [5]:
from sklearn.preprocessing import MinMaxScaler
scal = MinMaxScaler()

In [6]:
df1= df.drop(['Insurance','pred'],axis='columns')

In [7]:
a=scal.fit_transform(df1)
a

array([[1.        , 0.48344064],
       [0.58823529, 0.11795359],
       [0.67647059, 0.64866367],
       [0.23529412, 0.86087823],
       [0.76470588, 0.37838714],
       [0.02941176, 0.54143314],
       [0.23529412, 0.24463847],
       [0.5       , 0.87854926],
       [0.08823529, 0.6215897 ],
       [0.20588235, 0.10218167],
       [0.73529412, 0.77122609],
       [0.5       , 0.21707814],
       [0.47058824, 0.03656955],
       [0.58823529, 0.22659688],
       [0.17647059, 0.02362314],
       [0.02941176, 1.        ],
       [0.76470588, 0.98608087],
       [0.70588235, 0.99200982],
       [0.23529412, 0.66554727],
       [0.44117647, 0.64136829],
       [0.47058824, 0.67627032],
       [0.05882353, 0.46871092],
       [0.5       , 0.08300523],
       [0.41176471, 0.0222567 ],
       [0.        , 0.89740145],
       [0.44117647, 0.93839455],
       [0.17647059, 0.        ],
       [0.41176471, 0.2643939 ],
       [0.44117647, 0.91435453],
       [0.97058824, 0.05016444],
       [0.73529412, 0.04465237],
       [0.08823529, 0.99955996],
       [0.32352941, 0.84033536],
       [0.97058824, 0.49972208],
       [0.64705882, 0.07712261],
       [0.35294118, 0.45550975],
       [0.94117647, 0.38121265],
       [0.02941176, 0.08610867],
       [0.26470588, 0.24466163],
       [0.26470588, 0.12587429],
       [0.20588235, 0.82718051],
       [0.67647059, 0.95928482],
       [0.55882353, 0.25772384],
       [0.88235294, 0.55380055],
       [0.91176471, 0.33350317],
       [0.76470588, 0.00182964],
       [0.64705882, 0.7972347 ],
       [0.61764706, 0.55102135],
       [0.70588235, 0.01032933],
       [0.91176471, 0.22032053],
       [0.52941176, 0.1045903 ],
       [0.64705882, 0.80332577],
       [0.5       , 0.61744407],
       [0.38235294, 0.25997036]])

In [8]:
a_d=pd.DataFrame(a,columns=df1.columns)
a_d

         Age    Income
0   1.000000  0.483441
1   0.588235  0.117954
2   0.676471  0.648664
3   0.235294  0.860878
4   0.764706  0.378387
5   0.029412  0.541433
6   0.235294  0.244638
7   0.500000  0.878549
8   0.088235  0.621590
9   0.205882  0.102182
10  0.735294  0.771226
11  0.500000  0.217078
12  0.470588  0.036570
13  0.588235  0.226597
14  0.176471  0.023623
15  0.029412  1.000000
16  0.764706  0.986081
17  0.705882  0.992010
18  0.235294  0.665547
19  0.441176  0.641368
20  0.470588  0.676270
21  0.058824  0.468711
22  0.500000  0.083005
23  0.411765  0.022257
24  0.000000  0.897401
25  0.441176  0.938395
26  0.176471  0.000000
27  0.411765  0.264394
28  0.441176  0.914355
29  0.970588  0.050164
30  0.735294  0.044652
31  0.088235  0.999560
32  0.323529  0.840335
33  0.970588  0.499722
34  0.647059  0.077123
35  0.352941  0.455510
36  0.941176  0.381213
37  0.029412  0.086109
38  0.264706  0.244662
39  0.264706  0.125874
40  0.205882  0.827181
41  0.676471  0.959285
42  0.558824  0.257724
43  0.882353  0.553801
44  0.911765  0.333503
45  0.764706  0.001830
46  0.647059  0.797235
47  0.617647  0.551021
48  0.705882  0.010329
49  0.911765  0.220321
50  0.529412  0.104590
51  0.647059  0.803326
52  0.500000  0.617444
53  0.382353  0.259970

In [9]:
a_d.sample()

         Age    Income
10  0.735294  0.771226